// Used in layout
$padding-1: 1px !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-16: 1rem !default;

$font-size-base: 16px !default;
$font-size-12: 0.9rem !default;
$font-size-14: 0.8rem !default;
$font-size-16: 1rem !default;

$border-radius: $padding-4 !default;

$body-font-weight: normal !default;

$body-min-width: 20rem !default;
$container-max-width:90rem !default;

$header-height: 3.5rem !default;
$menu-width: 10rem !default;
$toc-width: 10rem !default;

$mobile-breakpoint: $menu-width + $body-min-width * 1.2 + $toc-width !default;
// content a {
//    border:1px dotted transparent;
// }
.book-toc-content a {
  border:1px dotted var(--body-font-color );
  border-radius: 10px;

}


.markdown {
font-size:var(--custom-font-zoom);

}

$hint-colors: (
  info: #6bf,
  warning: #fd6,
  danger: #f66,
) !default;

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #b6c8e7;
  --color-visited-link: #b6c8e7;

  --body-background: #080b12;
  --body-font-color: #d3e7fa;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-green {
  --gray-100: rgb(0, 128, 96, 0.1);
  --gray-200: rgba(43, 147, 72, 0.2);
  --gray-500: rgba(85, 166, 48, 0.5);

  --color-link: rgba(255, 255, 63);
  --color-visited-link: rgba(255, 255, 63);

  --body-background: rgba(0, 127, 95, 1);
  --body-font-color: rgba(221, 223, 0, 1);

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-custom {
  --gray-100: var(--custom-gray-100);
  --gray-200: var(--custom-gray-200)
  --gray-500: var(--custom-gray-500)

  --color-link: var(--custom-color-link)
  --color-visited-link:  var(--custom-color-visited-link);

  --body-background: var(--custom-body-background);
  --body-font-color:  var(--custom-font-color);

  --icon-filter: brightness(0) invert(1);

  --hint-color-info:  var(--custom-color-info);
  --hint-color-warning:var(--custom-color-warning);
  --hint-color-danger: var(--custom-color-danger);
}
