<h1>حجم الخط</h1>

<div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="xx-small" />صغير جدا جدا
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="x-small" />صغير جدا
  </div>
    <div class="selectDiv">
    <input type="radio" name="zoomselect" id="small" />صغير
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="medium" />متوسط
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="large" />كبير
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="x-large" />كبير جدا
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="xx-large" />كبير جدا جدا
  </div>
  <div class="selectDiv">
    <input type="radio" name="zoomselect" id="xxx-large" /> ضخم
  </div>
</div>

<button onclick="zooming()"> apply </button>
<script>
  let ZoomValue = document.querySelector('input[name=zoomselect]:checked').id

{{/*    
  const FontZoom = localStorage.getItem("font-zoom");  */}}

  function zooming() {
    localStorage.setItem("font-zoom",document.querySelector('input[name=zoomselect]:checked').id );
var font_zoom = localStorage.getItem("font-zoom");

    document.documentElement.style.setProperty(
      "--custom-font-zoom",
      font_zoom
    );
  }
</script>

<style>
  .selectDiv {
    border: 2px dotted var(--body-font-color);
  }
</style>
</div>
</div>
</div>
</div>
</div>
</div>