<select data-choose-theme>
  
  <option value="dark">غامق</option>
  <option value="light">فاتح</option>
  <option value="green">تفاحي</option>
  <option value="custom">مخصص</option>
</select>
<div class="pickers">
  لون الخلفية
  <sl-color-picker
    id="body-background"
    opacity
    value="#080b12"
  ></sl-color-picker>
  # عند اختيارك النمط المخصص 
  # اجعل الخلفية شفافة لكي ترى صور الخلفية
</div>
<div class="pickers">
  لون الخط
  <sl-color-picker
    id="body-font-color"
    opacity
    value="#d3e7fa"
  ></sl-color-picker>
    # عند اختيارك النمط المخصص 

</div>


<style>
  .pickers {
    border: 2px dotted var(--body-font-color);
  }
</style>

<script>
  r = document.documentElement.style;

  const colorpickerBodyBackground = document.getElementById("body-background");
  const colorpickerBodyFontColor = document.getElementById("body-font-color");
  colorpickerBodyBackground.addEventListener("sl-change", () => {
    localStorage.setItem("body-background", colorpickerBodyBackground.value);
    document.documentElement.style.setProperty(
      "--custom-body-background",
      colorpickerBodyBackground.value
    );
  });

  colorpickerBodyFontColor.addEventListener("sl-change", () => {
    localStorage.setItem("font-color", colorpickerBodyFontColor.value);
    document.documentElement.style.setProperty(
      "--custom-font-color",
      colorpickerBodyFontColor.value
    );
  });
</script>
