<select data-choose-theme>
  <option value="dark">default</option>
  <option value="dark">dark</option>
  <option value="light">light</option>
  <option value="green">green</option>
  <option value="custom">custom</option>
</select>
<div class="pickers">
  --body-background
  <sl-color-picker
    id="body-background"
    opacity
    value="#080b12"
  ></sl-color-picker>
</div>
<div class="pickers">
  --body-font-color
  <sl-color-picker
    id="body-font-color"
    opacity
    value="#d3e7fa"
  ></sl-color-picker>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<style>
  .pickers {
    border: 2px dotted var(--body-font-color);
  }
</style>

<script>
  r = document.documentElement.style;

  const colorpickerBodyBackground = document.getElementById("body-background");
  const colorpickerBodyFontColor = document.getElementById("body-font-color");
  colorpickerBodyBackground.addEventListener("sl-change", () => {
    localStorage.setItem("body-background", colorpickerBodyBackground.value);
    document.documentElement.style.setProperty(
      "--custom-body-background",
      colorpickerBodyBackground.value
    );
  });

  colorpickerBodyFontColor.addEventListener("sl-change", () => {
    localStorage.setItem("font-color", colorpickerBodyFontColor.value);
    document.documentElement.style.setProperty(
      "--custom-font-color",
      colorpickerBodyFontColor.value
    );
  });
</script>
